        body {
	    	background-color: white;
	    }
		#div1 {
			width: 500px;
			height: 600px;
			border-radius: 10px;
			margin-right: 30px;
			margin-top: 20px;
			margin-left: 800px;
		}
		.inp {
			margin-top: 20px;
		}
		#div3 {
			width: 100%;
			height: 100px;
			display: flex;
			float: left;
			margin-right: 30px;
			background: #1b55b9
		}
		#div4 {
			margin-top: 5px;
			margin-left: 800px;
		}
		#gax {
			margin-left: 115px;
		}
		#el {
			color: white;
		}
		#btn2 {
			cursor: pointer;
		}
		.h1 {
			margin-left: 800px;
		}
        #name {
        	width: 200px;
        }
        #surname {
        	width: 200px;
        	margin-left: 220px;
        	margin-top: -38px;
        	margin-bottom: 20px;
        }
        #email {
        	width: 420px;
        	margin-bottom: 20px;
        	margin-top: 20px;
        }
        #pass {
        	width: 420px;
        	margin-top: 20px;
        	margin-bottom: 20px;
        }
        #age{
        	width: 420px;
        	margin-top: 20px;
        }
        #btn {
        	color: white;
        	margin-top: 20px;
        	cursor: pointer;
        }
        #radio {
        	margin-top: 20px;
        }