	#search {
      width: 30%;
      margin-left: 30%;

    }
    .search_png {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    #box {
      width: 284px;
      height: auto;
      min-height: 50px;
      margin-left: 283px;
      border: 1px solid;
      position: absolute;
      z-index: 6;
      display: none;
      flex-direction: column;
      background: #f3eeee;

    }
      .s_img {
          width: 50px;
          height: 50px;
        }
      .h2 {
        margin-left: 35%;
        margin-top: -200px; 


      }
    .grey {
      color: #696969;
    }
    #box a {
      display: flex;
      text-decoration: none; 
    }
    #box a:hover {
      background-color: white;
    }              
	    #glux {
	    	width: 100%;
	    	background: white;
	    	height: 100px;
	    }
	    #glxavor1 {
	    	width: 70%;
	    	height: 90px;
	    	margin-left: 15%;
	    	padding: 5px;
	    }
		#glxavor2 {
           width: 70%;
           height: auto;
           min-height: 230px;
           margin-left: 15%;
           background: #fafafa;

	    }
	    #marmin {
	    	width: 100%;
	    	background: #f3eaea;
        height: auto;
        min-height: 550px;
	    }
	    .nkar {
	    	width: 200px;
	    	height: 200px;
	    	border: 1px solid #fafafa;
	    	border-radius: 50%;
	    	margin: 20px;
	    }
	    .h2 {
	    	margin-left: 35%;
	    	margin-top: -200px; 


	    }
	    #uxarkel {
	    	margin-left: 730px;
	    	margin-top: -80px;
	    	cursor: pointer;
	    }
      #hayter {
        margin-left: 83%;
        width: 48px;
        height: 48px;
        cursor: pointer;
        margin-top: -45px;
      }
      #hayter_div {
        width: 600px;
        height: auto;
        min-height: 300px;
        z-index: 54;
        border: 1px solid;
        margin-left: 340px;
        background-color: white;
        display: none;
        position: absolute;

      }
      .chexarkel_btn {
        margin-left: 10px;
      }
      .hastatel_btn {
        margin-left: 120px;
      }
      .hayter_div_hayt {
        width: 600px;
        height: auto;
        border: 1px solid;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #f3eeee;
      }
      .hayt_img {
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-radius: 50%;
      }
      #hayter_v {
          border-bottom: 1px solid #ccc;
          background: #ededf3;
          text-align: center;
       }
      #home {
        margin-left: 90%;
        width: 37px;
        height: 37px;
        cursor: pointer;
        margin-top: -90px;
      }
      #dashter {
        width: 200px;
        margin: 10px;
        height: 50px;
        margin-left: 305px;
        margin-top: -20px;
        display: flex;
      }
      .dashter {
        margin-left: 25px;
        cursor: pointer;
      }
            .boxik {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .modal-body {
        overflow-x: scroll;
      }
            .img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
      }
            .h4 {
        margin-top: -40px;
        margin-left: 80px;
      }

              #nkarner {
          width: 70%;
          height: auto;
          margin-left: 15%;
          margin-top: 30px;
          display: flex;
          padding-bottom: 10px;
          background: #f8f8ff;
        }
          #nkarner2 {
          width: 940px;
          height: auto;
          margin-left: 5px;
          background: #F8F8FF;
        }

        .all_photos {
          width: 200px;
          height: 200px;
          cursor: pointer;
          display: inline;
          margin-top: 17px;
          margin-left: 30px;
        }        
                #posts {
          width: 700px;
          height: auto;
          margin-left: 320px;
          border: 1px solid #ccc;
          background: white;

        }
                .posts2 {
          width: 500px;
          height: auto;
          margin-left: 100px;
          margin-top: 30px;
          background: #eaeaf3;

        }
        .post_ver {
          text-align: center;
        }
        .post_text {
          text-align: center;
          width: auto;
          height: auto;
          text-transform: uppercase;
          margin-top: 30px;
        }