 #nkar {
      width: 200px;
      height: 200px;
      cursor: pointer;
      border: 1px solid white;
      border-radius: 50%;
    }
    #nkar:hover {
      opacity: 0.7;
    }
    #nkar2 {
      visibility: hidden;
      position: absolute;
      top: -50px;
    }
    #search {
      width: 30%;
      margin-left: 30%;

    }
    .search_png {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    #box {
      width: 284px;
      height: auto;
      min-height: 50px;
      margin-left: 283px;
      border: 1px solid;
      position: absolute;
      background: #f3eeee;
      z-index: 6;
      display: none;
      flex-direction: column;

    }
    .grey {
      color: #696969;
    }
    #box a {
      display: flex;
      text-decoration: none; 
    }
    #box a:hover {
      background-color: white;
    }
    #glux {
        width: 100%;
        background: white;
        height: 100px;
    }
    #glxavor1 {
        width: 70%;
        height: 90px;
        margin-left: 15%;
        padding: 5px;
    }
    #glxavor2 {
           width: 70%;
           height: auto;
           min-height: 500px;
           margin-left: 15%;
           background: #fafafa;

      }
      #marmin {
        width: 100%;
        background: #f3eaea;
        height: auto;
        min-height: 750px;
      }
      #nkar {
        width: 200px;
        height: 200px;
        border: 1px solid #fafafa;
        border-radius: 50%;
        margin: 20px;
      }
      .h2 {
        margin-left: 35%;
        margin-top: -200px; 


      }
      #uxarkel {
        margin-left: 35%;
      }
      .logout {
        margin-left: 70%;
        margin-top: -70px;
      }
      #hayter {
        margin-left: 83%;
        width: 48px;
        height: 48px;
        cursor: pointer;
        margin-top: -45px;
      }
      #hayter_div {
        width: 600px;
        height: auto;
        min-height: 300px;
        z-index: 54;
        border: 1px solid;
        margin-left: 340px;
        background-color: white;
        display: none;
        position: absolute;

      }
      .chexarkel_btn {
        margin-left: 10px;
      }
      .hastatel_btn {
        margin-left: 120px;
      }
      .hayter_div_hayt {
        width: 600px;
        height: auto;
        border: 1px solid;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #f3eeee;
      }
      .hayt_img {
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-radius: 50%;
      }
      #home {
        margin-left: 90%;
        width: 37px;
        height: 37px;
        cursor: pointer;
        margin-top: -90px;
      }
      #dashter {
        width: 200px;
        margin: 10px;
        height: 50px;
        margin-left: 305px;
        display: flex;
      }
      .dashter {
        margin-left: 25px;
        cursor: pointer;
      }
      #log {
        margin-top: -200px;
        margin-left: 770px;
      }
      .img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
      }
      .h4 {
        margin-top: -40px;
        margin-left: 80px;
      }
      .delete_f {
        margin-left: 370px;
        margin-top: -110px;
      }
      .boxik {
        margin-top: 20px;
      }
      .modal-body {
        overflow-x: scroll;
      }
      .uxarkel_s {
        margin-left: 300px;
        margin-top: -60px;
      }
      #verev {
        height: 230px;
      }
      #nerqev {
        height: auto;
        min-height: 430px
        border: 1px solid;
        background: #F8F8FF;
      }
      #post {
        margin-top: 30px;
        width: 80%;
        height: 430px;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;

      }
      .inp_v {
        width: 450px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
      .textarea {
        width: 450px;
        height: 150px;
        margin-left: 50%;
        transform: translateX(-50%);        
      }
      #send_post {
        position: relative;
        top: 40px;
        left: -10px;
        cursor: pointer;
        width: 200px;
      }
      #post_nkar {
        position: relative;
        left: 40px;
      }
      #sms {
        width: 45px;
        height: 45px;
        margin-left: -175px;
        margin-top: -85px;
        cursor: pointer;
      }
      #messages {
        width: 305px;
        height: 400px;
        border: 1px solid white;
        z-index: 9999999;
        background-color: #f3eeee;
        display: none;
        position: fixed;
        top: 260px;
        }
        #namakner {
          width: 300px;
          height: 300px;
          border: 1px solid;
          background-color: white;
          overflow: scroll;
        }
        #namak {
          width: 200px;


        }
        #send_sms {
          height: 40px;
          margin-top: -65px;
          margin-left: 200px;

        }
        #close {
          width: 20px;
          height: 20px;
          margin-left: 283px;
          margin-top: -95px;
          cursor: pointer;
        }
        .sender {
          display: flex;
          float: right;
          width: 235px;
          min-height: 40px;
          margin-top: 10px;
          margin-bottom: 10px;
          background: #d3e6ec;
          text-align: right;
        }
        #sms_img {
          width: 40px;
          height: 40px;
          border: 1px solid white;
          border-radius: 50%;
          margin-left: 10px;
          margin-top: 5px;
        }
        #anun {
          margin-top: -40px;
          margin-left: 65px;
        }
        .resiver {
          display: flex;
          float: left;
          width: 235px;
          min-height: 40px;
          margin-top: 10px;
          margin-bottom: 10px; 
          background: #cdcdea         
        }
        #nkarner {
          width: 70%;
          height: auto;
          margin-left: 15%;
          margin-top: 30px;
          display: flex;
          padding-bottom: 10px;
          background: #f8f8ff;
        }

        #nkarner1 {
           width: 350px;
           height: auto;
           display: none;
        }
        #nkarner2 {
          width: 520px;
          height: auto;
          margin-left: 40px;
          background: #F8F8FF;
        }
        .all_photos {
          width: 200px;
          height: 200px;
          cursor: pointer;
          display: inline;
          margin-top: 17px;
          margin-left: 40px;
        }
        #add_photo {
          visibility: hidden;
          margin-top: -40px;
          margin-left: -40px;

        }
        #add_btn {
          visibility: hidden;
        }
        #avel {
          width: 942px;
          height: 40px;
          background: #f3eeee
        }
        #a1 {
          margin-left: 25%;
          color: #808080; 
        }
        #add_nkar {
          margin-top: 10px;
          margin-left: 80px;
          width: 200px;
          height: 200px;
          cursor: pointer;
        }
        .s_img {
          width: 50px;
          height: 50px;
        }
        #posts {
          width: 700px;
          height: auto;
          margin-left: 120px;
          border: 1px solid #ccc;
          background: white;

        }
        .posts2 {
          width: 500px;
          height: auto;
          margin-left: 100px;
          margin-top: 30px;
          background: #eaeaf3;

        }
        .post_ver {
          text-align: center;
        }
        .post_text {
          text-align: center;
          width: auto;
          height: auto;
          text-transform: uppercase;
          margin-top: 30px;
        }
        #hayter_v {
          border-bottom: 1px solid #ccc;
          background: #ededf3;
          text-align: center;
        }